/* styles.css */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: lightblue;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.formContainer, .displayContainer {
  background-color: rgba(243, 246, 247, 0.6);
  padding: 50px;
  border-radius: 8px;
}

.searchText, .buttonContainer {
  display: flex;
  justify-content: center;
}

.inputBox {
  width: 300px;
  height: 25px;
  border-radius: 8px;
  margin-top: 5px;
}

.inputButton {
  margin: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightblue;
  color: #007592;
  border: none;
  border-radius: 8px;
}

.searchFormButton {
  width: 125px;
  margin-top: 10px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightblue;
  color: #007592;
  border: none;
  border-radius: 8px;
}

.inputButton:hover, .searchFormButton:hover, .toggleTempButton:hover {
  background-color: #007592;
  color: lightblue;
  transition-duration: 0.4s;
}

.displayContainer {
  text-align: center;
  font-size: 20px;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.tempRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feelsLikeContainer, .highLowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.displayTemperature {
  font-size: 60px;
}

.toggleButtonContainer {
  display: flex;
  align-items: center;
}

.toggleTempButton {
  width: 50px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  background-color: lightblue;
  color: #007592;
  border: none;
  border-radius: 8px;
}

.weatherInfoHeader {
  margin-top: 10px;
}