/* styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
  background-color: lightblue;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.searchText, .buttonContainer {
  display: flex;
  justify-content: center;
}

.inputBox {
  width: 300px;
  height: 25px;
  border-radius: 8px;
  margin-top: 5px;
}

.inputButton {
  margin: 5px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.searchFormButton {
  width: 125px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}

.displayContainer {
  text-align: center;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.tempRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feelsLikeContainer, .highLowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.displayTemperature {
  font-size: 60px;
}

.toggleButtonContainer {
  display: flex;
  align-items: center;
}

.toggleTempButton {
  width: 50px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
}

.weatherInfoHeader {
  margin-top: 10px;
}